/* ~~~~~~~~ CTA Section ~~~~~~~~ */
#cta-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}

iframe {
  width: 100%;
  aspect-ratio: 1 / 1;
  opacity: 0.7;
  transition: 0.3s;
}

iframe:hover {
  opacity: 1;
}

#form__container {
  padding: 3rem var(--size-fluid-xl);
  background-color: var(--zbg-form);
  /* border-radius: 8px; */
  box-shadow: var(--shadow);
  text-align: center;
  font-family: var(--ff-sans-inter);
}

.form__title {
  font-size: var(--fs-600);
  margin-bottom: 20px;
  color: var(--ztitle-color);
}

.form__title span {
  color: #4dff91; /* Green highlight color */
}

/* Aktifkan Container Queries */
.form__group {
  --_form-gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: var(--_form-gap);
  margin-bottom: var(--_form-gap);
}

.form__field {
  text-align: left;
}

input,
textarea {
  color: hsl(var(--clr-dark));
}

input::placeholder,
textarea::placeholder {
  color: hsl(var(--clr-dark-gray) / 0.8);
}

select {
  --_size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgZmlsbD0iIzRkNGQ0ZCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMTYuNDksMTA0LjQ5bC04MCw4MGExMiwxMiwwLDAsMS0xNywwbC04MC04MGExMiwxMiwwLDAsMSwxNy0xN0wxMjgsMTU5bDcxLjUxLTcxLjUyYTEyLDEyLDAsMCwxLDE3LDE3WiI+PC9wYXRoPjwvc3ZnPg==");

  background-repeat: no-repeat;
  background-position: 95%;
  background-size: var(--_size) var(--_size);
  color: hsl(var(--clr-dark));
}

/* Hilangkan tombol ekspansi di IE/Edge */
select::-ms-expand {
  display: none;
}

/* Menghilangkan garis-garis horizontal di Chrome */
select::-ms-expand {
  display: none;
}

/* Buat opsi placeholder tampak lebih samar */
select option[disabled] {
  color: hsl(var(--clr-dark-gray) / 0.8) !important;
  display: none; /* opsional: sembunyikan dari dropdown */
}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  margin-bottom: 10px;
}

/* @container (max-width: 433px) {
  label {
    font-size: 0.875rem;
  }
  .form__field {
    background-color: blue;
  }
} */

@media (min-width: 640px) {
  #cta-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (590px <= width < 640px) or (min-width: 1200px) {
  .form__group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (865px < width < 940px) {
  label {
    font-size: 0.8rem;
  }
}
