/* ~~~~~~~~ Product Section ~~~~~~~~ */
#product-section {
  /* --_height: 406px; */
  --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-400) + 0.45rem) * 7);
  --fs-200: clamp(var(--fs-50z), calc(0.7vw + 0.3875rem), 0.875rem);

  background: var(--gradient-green-pastel);
  min-height: 650px;
  /* border: 3px solid hsl(var(--clr-green-400) / 0.5); */
}

.product__container {
  gap: clamp(0.5rem, 1vw + 0.5rem, 3rem);
}

.category-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.category-btn {
  padding: 10px 20px;
  background-color: hsl(var(--clr-green-200) / 0.5);
  color: hsl(var(--clr-green-900));
  border: 1px solid hsl(var(--clr-green-400));
  box-shadow: var(--shadow-subtle-small);
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--fs-300);
  font-weight: 500;
  transition: all 0.3s ease;
}

.category-btn:hover {
  /* background-color: hsl(var(--clr-main) / 0.8); */
  background-color: hsl(var(--clr-green-400) / 0.5);
  border: 1px solid hsl(var(--clr-green-400) / 0.4);
}

.category-btn.active {
  color: hsl(var(--clr-green-100));
  background-color: hsl(var(--clr-main));
  border: none;
}

.product__list-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* max-width: 1080px; */
  width: clamp(100%, 80vw, 1080px);
  /* max-height: var(--_height); */
  height: fit-content;
  padding-top: 1rem;
  /* background-color: burlywood; */
}

.product__list {
  display: none;
}

.scrollable-list {
  list-style: none;
  padding: 10px 0px 10px var(--size-fluid-xs);
  max-height: var(--_height);
  overflow-y: auto;
  background: hsl(var(--clr-white) / 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid hsl(var(--clr-white) / 0.5);
  border-right: none;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.2);
  box-shadow: var(--shadow-subtle-big);
  /* border: 1px solid hsl(var(--clr-green-400) / 0.5); */
  opacity: 0;
  pointer-events: none;
  border-radius: 30px 7px 7px 30px;
  transition: opacity var(--time3);
}

.scrollable-list.active {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none; /* Agar tidak bisa diklik selama fade out */
  transition: opacity var(--time3);
}

.fade-in {
  opacity: 1;
  transition: opacity var(--time3);
}

/* ===== Styling Scrollbar ===== */
/* Styling Scrollbar untuk Webkit-based browsers (Chrome, Safari, Edge) */
.scrollable-list::-webkit-scrollbar {
  width: 12px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: hsl(var(--clr-green-200) / 0.5);
  border-radius: 16px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-main) / 0.8);
  border-radius: 16px;
  transition: all 0.3s ease; /* Efek transisi saat hover/aktif */
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--clr-main)); /* Warna saat hover */
}

.scrollable-list::-webkit-scrollbar-thumb:active {
  background: hsl(var(--clr-main)); /* Warna saat aktif (ditekan) */
}

/* Styling Scrollbar untuk Internet Explorer dan Edge (legacy) */
.scrollable-list {
  -ms-overflow-style: none;
}

.scrollable-list::-ms-scrollbar {
  width: 12px;
}
.scrollable-list::-ms-scrollbar-track {
  background: hsl(var(--clr-green-200) / 0.5);
  border-radius: 16px;
}
.scrollable-list::-ms-scrollbar-thumb {
  background: hsl(var(--clr-main) / 0.8);
  border-radius: 16px;
}

/* .scrollable-list {
  list-style: none;
} */

/* -------Isi List------- */
.product__icon {
  font-size: var(--fs-300);
  margin-right: 1rem; /* Jarak antara ikon dan teks */
  color: hsl(var(--clr-green-900));
  /* align-content: center; */
}

.scrollable-list li {
  padding: var(--size-fluid-xs);
  padding-left: calc(var(--size-fluid-xs) + 0.25rem);
  color: hsl(var(--clr-green-900));
  /* background-color: #fff; */
  /* border-bottom: 1px solid #ddd; */
  border-radius: 14px 0 0 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--fs-200);
  font-weight: 600;
  font-family: var(--ff-sans-inter);
  display: flex;
  align-items: center;
}

.scrollable-list,
.product__image {
  transition: all 0.3s ease;
}

.scrollable-list li:hover {
  background-color: hsl(var(--clr-green-100) / 0.5);
  /* box-shadow: var(--shadow-subtle-small); */
}

.scrollable-list li.selected {
  background-color: hsl(var(--clr-green-100) / 0.5);
  box-shadow: var(--shadow-subtle-small);
}

.product__details {
  position: relative;
  flex: 2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin-bottom: 3rem; */
  margin-top: 1rem;
  /* background-color: azure; */
  max-height: var(--_height);
  height: fit-content;
  width: 100%;
}

.product__image {
  /* position: absolute; */
  /* height: clamp(100px, 100%, 600px); */
  /* height: min(100%, var(--_height)); */
  /* height: var(--_height); */
  /* width: auto; */
  width: 100%;
  height: auto;
  object-fit: cover;
  /* margin-bottom: 10px; */
  /* background-color: khaki; */
  opacity: 0;
  transition: opacity var(--time3);
}

.product__image.active {
  opacity: 1;
}

.product__dropdown {
  display: block;
  width: 80%;
  max-width: 290px;
  padding: 10px 15px;
  font-size: var(--fs-200);
  border-radius: 8px;
  border: 1px solid hsl(var(--clr-green-400));
  background-color: hsl(var(--clr-white) / 0.5);
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgZmlsbD0iIzAwODA0MCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMTMuNjYsMTAxLjY2bC04MCw4MGE4LDgsMCwwLDEtMTEuMzIsMGwtODAtODBBOCw4LDAsMCwxLDQ4LDg4SDIwOGE4LDgsMCwwLDEsNS42NiwxMy42NloiPjwvcGF0aD48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
}

@media (min-width: 520px) {
  .product__dropdown {
    display: none !important;
  }

  .product__list-container {
    flex-direction: row;
    gap: 20px;
    padding-top: 0;
    padding-left: 3rem;
    max-height: var(--_height);
    /* align-items: flex-start; */
  }

  .product__list {
    display: block;
    flex: 1.5;
    width: 40%;
    max-width: 380px;
    /* max-width: fit-content; */
    /* flex-basis: 1; */
    /* background-color: bisque; */
  }

  .product__details {
    margin-top: 0;
    width: fit-content;
  }
}

@media (600px < width < 870px) {
  .category-nav {
    width: 550px;
  }
}

@media (min-width: 542px) {
  #product-section {
    --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-400) + 0.8rem) * 6);
  }
}
/*
@media (min-width: 760px) {
  #product-section {
    --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-400) + 0.82rem) * 6);
  }
}*/

@media (min-width: 815px) {
  #product-section {
    --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-400) + 0.65rem) * 6);
  }
}

@media (min-width: 884px) {
  #product-section {
    --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-400) + 0.5rem) * 7);
  }
}

@media (min-width: 1080px) {
  .scrollable-list li {
    padding-right: var(--size-fluid-xs) - 0.2rem;
  }
}

@media ((max-width: 768px) or (max-height: 500px)) and (orientation: landscape) {
  #product-section {
    --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-300) + 0.5rem) * 7);
  }
}

@media (max-height: 350px) and (orientation: landscape) {
  #product-section {
    --_height: calc((var(--size-fluid-xs) * 2 + var(--fs-300) + 0.6rem) * 6);
  }
}
