body {
    --_error-color: hsl(0, 93%, 61%);

    display: grid;
    place-items: center;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.form {
    display: grid;
    gap: 2rem;
    padding: var(--size-fluid-xl);
    /* padding-bottom: calc(var(--size-fluid-xl) - 1rem); */
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-subtle-big);
    width: min-content;
    min-width: max(30%, 300px);
}

.form .form__title {
    margin-bottom: 0;
    white-space: nowrap;
}

.form .form__group {
    gap: 1.3rem;
    margin-bottom: 0;
    width: 100%;
    grid-template-columns: auto;
}

#login-form .btn-form {
    margin-top: 0;
}

#error-message {
    margin-top: -15px;
    margin-left: auto;
    margin-right: 0.4rem;
    font-weight: 600;
    display: none;
    color: var(--_error-color); 
    height: 10px;
}

.add {
    text-align: left;
}

.forgot {
    display: inline-block;
    padding-top: 0.4rem;
    font-size: var(--fs-100);
    text-align: right;
    width: 100%;
    padding-right: 0.3rem;
}

.form__group a {
    color: turquoise;
    transition: var(--time1);
}

.form__group a:hover {
    color: teal;
}

.pass-field .forgot {
    color: teal;
    transition: color var(--time1);
}

a.forgot:hover {
    color: turquoise;
}

/* Warna saat input password difokuskan */
.pass-field:focus-within .forgot {
    color: turquoise;
}

/* === Register Page ==== */
#register-form {
    gap: 1rem;
}

.form__group span {
    color: hsl(var(--clr-green-300) / 0.6);
}

@media (max-width: 640px) {
    .form {
        padding-block: 2rem;
    }
}